<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="GroupProject.Team8.DiseaseOutbreakMonitor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiseaseOutbreakMonitor">
        <activity android:name=".TemperatureAndBPActivity"
            android:label="@string/temp_bp_activity_title">

        </activity>

        <activity android:name=".SignInActivity">
          
        </activity>
        <activity
            android:name=".ConfirmActivity"
            android:label="@string/confirm_activity_title">

        </activity>
        <activity
            android:name=".SymptomsActivity"
            android:label="@string/symptom_activity_title">

        </activity>
        <activity
            android:name=".DiagnosisActivity"
            android:label="@string/hw_diagnosis_title">

        </activity>
        <activity
            android:name=".PatientDetailsActivity"
            android:label="@string/patient_details_title">

        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>