<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="GroupProject.Team8.DiseaseOutbreakMonitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiseaseOutbreakMonitor">
        <activity android:name=".SymptomsActivity"
            android:parentActivityName=".DiagnosisActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="GroupProject.Team8.DiseaseOutbreakMonitor.DiagnosisActivity" /></activity>
        <activity
            android:name=".DiagnosisActivity"
            android:parentActivityName=".PatientDetailsActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="GroupProject.Team8.DiseaseOutbreakMonitor.PatientDetailsActivity" />
        </activity>
        <activity
            android:name=".PatientDetailsActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="GroupProject.Team8.DiseaseOutbreakMonitor.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>